html,
body {
  height: 100%;
  overflow: hidden;
  opacity: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: opacity 0.5s;
}

body.hidden {
  opacity: 0;
}

.flexContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.text {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px black;
}

.timeContainer {
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#time {
  font-size: 10em;
}

#date {
  font-size: 2.5em;
}

.overlay {
  z-index: 1;
}

.photo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

.photo > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#attribution {
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#attribution a:hover {
  text-decoration: underline white;
}


