html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  text-shadow: 0 0 10px black;
}

#time {
  font-size: 10em;
  padding-bottom: 10%;
}

.overlay {
  z-index: 1;
}

.photo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

#photoCover {
  background-color: white;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  opactiy: 1;
  transition: opacity 0.5s;
}

#photoCover.hidden {
  opacity: 0;
}

.photo > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#attribution {
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
}

#attribution a {
  color: white;
  text-decoration: none;
}

#attribution a:hover {
  text-decoration: underline white;
}


